$border:	2px solid #000;
$padding_all_box: 0 45px 45px;
$border-bottom: 0;

.border_border_bottom {
	border:$border;
	border-bottom:$border-bottom;
}

.border_border_bottom_padding{
	border:$border;
	border-bottom:$border-bottom;
	padding: $padding_all_box;
}

/* ----- Bootstrap ----- */
.row {
    margin:0;
}

[class*=col] {
    margin:0;
    padding:0;
}
/* ----- Bootstrap End ----- */

body{
  background: url('cream_pixels.png');
}

.container {
   padding-left: 0;
   padding-right: 0;
}

.pix50 {
	height:50px;
}

#wrapper{
	padding:30px;
	max-width:970px;
	background: #fff;
	font-family: 'Century Gothic';
	box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);

      h1 {
        margin-top: 46px;
        line-height: 50px;
        letter-spacing: 17px;
        text-transform: uppercase;
      }

      h4 {
        margin-top: -30px;
        margin-bottom: 35px;
        text-transform: uppercase;
        font-size: 19px;
      }
}

#name {
	background:#000;
	text-transform: uppercase;
	color:#fff;
	min-height:150px;
	@extend .border_border_bottom;
	padding-bottom:40px;
}

#about_me {
	@extend .border_border_bottom;
	padding: 0 40px 45px;

    p{
        text-align: justify;
        text-indent: 45px;
    }
}

//educationn

#skill {
	text-transform: uppercase;
	height: 790px;
	@extend .border_border_bottom_padding;

    h5{
      margin-top: 15px;
    }
}

#education {
    height: 790px;
	@extend .border_border_bottom_padding;
}

.education_header {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  margin-top: 30px;
}

.education_place {
  margin: -8px auto 2px;
}

.education_year {
  color: #7B7B7B;
}

#experience {
  height: 1580px;
  @extend .border_border_bottom_padding;
  border-left: 0 solid white;

  .experience_description {
    text-indent: 45px;
  }
  .experience_description{
    text-align: justify;
  }
}

#hobby {
	min-height: 200px;
	@extend .border_border_bottom_padding;
}

#footer {
	height: 70px;
	background:#000;
	border:$border;
	padding: $padding_all_box;
}

@media (max-width: 768px) {
	#experience {
		border-left:$border;
	}
}

.header_square{
  background:#ECEBE6;
  border:2px solid black;
  width:180px;
  padding:0 10px;
  min-height: 40px;
  margin: -21px auto 0;
}

.wide{
  width:550px;
}