$border:	2px solid #000;
$padding_all_box: 0 45px 45px;
$border-bottom: 0;

.border_border_bottom {
	border:$border;
	border-bottom:$border-bottom;
}

.border_border_bottom_padding{
	border:$border;
	border-bottom:$border-bottom;
	padding: $padding_all_box;
}

/* ----- Bootstrap ----- */
.row {
    margin:0;
}

[class*=col] {
    margin:0;
    padding:0;
}
/* ----- Bootstrap End ----- */

body{
  background: url('cream_pixels.png') fixed;
}

img {
  border: none;
}

.container {
   max-width: 970px;
   padding-left: 0;
   padding-right: 0;
}

.pix50 {
	height:50px;
}

#wrapper{
	padding:30px;
	max-width:970px;
	background: #fff;
	font-family: 'Century Gothic', Arial, monospace ;
	box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);

      h1 {
        margin-top: 46px;
        line-height: 50px;
        letter-spacing: 17px;
        text-transform: uppercase;
      }

      h4 {
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 19px;
      }
}

#name {
	background:#000;
	text-transform: uppercase;
	color:#fff;
	min-height:150px;
	@extend .border_border_bottom;
	padding-bottom:40px;
}

#about_me {
	@extend .border_border_bottom;
	padding: 0 40px 45px;

    p{
        text-align: justify;
        text-indent: 45px;
    }
}

#skill {
	text-transform: uppercase;
    height: 860px;
	@extend .border_border_bottom_padding;

    h5{
      margin-top: 15px;
    }
}

#education {
    height: 790px;
	@extend .border_border_bottom_padding;
}

.education_header {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  margin-top: 30px;
}

.education_place {
  margin: -8px auto 2px;
}

.education_year {
  color: #7B7B7B;
}

#experience {
  min-height: 1650px;
  @extend .border_border_bottom_padding;
  border-left: 0 solid white;

  .experience_description {
    text-indent: 45px;
  }
  .experience_description{
    text-align: justify;
  }
}

#certificates {
  @extend .border_border_bottom_padding;
  min-height: 75px;

  img{
    margin: 0 2% 20px;
    max-width: 28%;
    display: inline-block; ////////////// comment for AnimateCss
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); /* Чёрно-белое изображение */
  }
  img:hover{
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow:  0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); /* Чёрно-белое изображение */
  }
}
/* ////////////// AnimateCss
.certificate{
  display:none;
}
*/
/*
#hobby {
	@extend .border_border_bottom_padding;
}

.hobby{
  width: 19%;
  display: inline-block;
}
*/
#footer {
	height: 70px;
	background:#000;
	border:$border;
	padding: $padding_all_box;
}

.header_square{
  background:#ECEBE6;
  border:2px solid black;
  width:180px;
  padding:0 10px;
  min-height: 40px;
  margin: -21px auto 30px;
}

.wide{
  min-width:550px;
}


@media (max-width: 992px){
  #skill {
    height: 859px;
  }
  #education {
    height: 1011px;
  }
  #certificates {
    img{
      margin: 0 2% 20px;
      max-width: 45%;
    }
  }
}

@media (max-width: 768px) {
  #wrapper {
    padding: 0;
  }
  #wrapper h1 {
    font-size: 33px;
  }
  #about_me, #experience,#skill,#education  {
    padding: 0 20px 45px;
  }
  #experience {
    border-left: $border;
    min-height: 0;
  }
  #skill,#education {
    min-height: 0;
    height: auto;
  }
  #certificates img {
    margin: 0 0 20px;
    max-width: 100%;
  }/*
  #certificates img:first-child {
    padding: 0 10px 60px;
  }*/
  #certificates a:last-child img {
    margin: 0 0 60px;
  }
  .hobby{
    width: 49%;
    display: inline-block;
  }
  .wide {
    min-width: 220px;
  }
  #footer {
    height: 90px;
  }
  #about_me, #certificates, #education, #experience, #skill, .border_border_bottom_padding {
    border-left: none;
    border-right: none;
  }
}
// The End