// Partials
@import "partials/game_modal";
@import "partials/message_modal";

$border: 2px solid #000;
$padding_all_box: 0 45px 45px;
$border-bottom: 0;

.border_border_bottom {
  border: $border;
  border-bottom: $border-bottom;
}

.border_border_bottom_padding {
  border: $border;
  border-bottom: $border-bottom;
  padding: $padding_all_box;
}

/* ----- Bootstrap ----- */
.row {
  margin: 0;
}

[class*=col] {
  margin: 0;
  padding: 0;
}

/* ----- Bootstrap End ----- */

body {
  background: url('../images/cream_pixels.png') fixed;
}

img {
  border: none;
}

.container {
  max-width: 970px;
  padding-left: 0;
  padding-right: 0;
  //  font-size: 15px; // для нового Bootstrap
}

.pix50 {
  height: 50px;
}

#wrapper {
  padding: 30px;
  max-width: 970px;
  background: #fff;
  font-family: 'Century Gothic', Arial, sans-serif;
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);

  h1 {
	margin-top: 46px;
	line-height: 50px;
	letter-spacing: 17px;
	text-transform: uppercase;
  }

  h4 {
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 19px;
  }
}

#name {
  background: #000;
  text-transform: uppercase;
  color: #fff;
  min-height: 150px;
  @extend .border_border_bottom;
  padding-bottom: 40px;
}

#about_me {
  @extend .border_border_bottom;
  padding: 0 40px 45px;

  p {
	text-align: justify;
	text-indent: 45px;
  }
}

#skill {
  text-transform: uppercase;
  //  height: 860px;
  @extend .border_border_bottom_padding;
  //    padding: $padding_all_box;

  h5 {
	margin-top: 15px;
  }
}

#education {
  //  height: 790px;
  @extend .border_border_bottom_padding;
  //  padding: $padding_all_box;
  border-top: 2px solid #000; // new
}

.education_header {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  margin-top: 30px;
}

.education_place {
  margin: -8px auto 2px;
}

.education_year {
  color: #7B7B7B;
}

#experience {
  //  min-height: 1650px;
  @extend .border_border_bottom_padding;
  border-left: 0 solid white;

  .experience_description {
	text-indent: 45px;
  }
  .experience_description {
	text-align: justify;
  }
}

.flex-container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.flex-container-two {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
}

#certificates {
  @extend .border_border_bottom_padding;

  img {
	margin: 0 2% 20px;
	max-width: 28%;
	display: inline-block; ////////////// comment for AnimateCss
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	filter: grayscale(100%);
  }
  img:hover {
	-webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
	filter: grayscale(0%);
  }
}

#footer {
  height: 70px;
  background: #000;
  border: $border;
  padding: $padding_all_box;
}

.header_square {
  background: #ECEBE6;
  border: 2px solid black;
  width: 180px;
  padding: 0 10px;
  min-height: 40px;
  margin: -21px auto 30px;
}

.wide {
  min-width: 550px;
}

a.disabled {
  pointer-events: none; /* делаем ссылку некликабельной */
  cursor: default; /* устанавливаем курсор в виде стрелки */
  color: #999; /* цвет текста для нективной ссылки */
}

#footer {

  .fa-gamepad, .fa-print {
	position: absolute;
	color: #c2c2c2; // #ECEBE6;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
  }

  .fa-gamepad {
	left: 13px;
	bottom: 13px;
  }

  .fa-print {
	right: 13px;
	bottom: 10px;
  }

  .fa-gamepad:hover, .fa-print:hover {
	color: #ECEBE6;
  }

  a {
	cursor: pointer;
  }
}

::selection {
  background: rgb(73, 73, 73);
  color: #FFE800;
  text-shadow: 0 0 4px #FF0000;
}

// Validation
.bv-form .help-block {
  margin-bottom: 0;
}
.bv-form .tooltip-inner {
  text-align: left;
}
.nav-tabs li.bv-tab-success > a {
  color: #3c763d;
}
.nav-tabs li.bv-tab-error > a {
  color: #a94442;
}

.bv-form .bv-icon-no-label {
  top: 0;
}

.bv-form .bv-icon-input-group {
  top: 0;
  z-index: 100;
}
// Validation End


@media (max-width: 992px) {
  #certificates {
	img {
	  margin: 0 2% 20px;
	  max-width: 45%;
	}
  }
}

@media handheld, (max-width: 768px) {

  #wrapper {
	padding: 0;
  }

  #wrapper h1 {
	font-size: 33px;
  }

  #about_me, #experience, #skill, #education {
	padding: 0 20px 45px;
  }

  #experience {
	border-left: $border;
	min-height: 0;
  }

  #skill, #education {
	min-height: 0;
	height: auto;
  }

  #certificates img {
	margin: 0 0 20px;
	max-width: 100%;
	filter: grayscale(0%);
  }

  .hobby {
	width: 49%;
	display: inline-block;
  }

  .wide {
	min-width: 220px;
  }

  #footer {
	height: 130px;

	.fa-gamepad {
	  left: 45%;
	  bottom: 12px;
	  color: #ECEBE6;
	}
  }

  #game_box {

	#resilt {
	  height: 60px;
	}
  }
  #game_modal {

	.modal-body {
	  height: 370px;
	}
  }

  #about_me, #certificates, #education, #experience, #skill, .border_border_bottom_padding {
	border-left: none;
	border-right: none;
  }
}

@media print {

  #name {
	border-bottom: 2px solid black;
  }
  #about_me {
	margin-top: 60px;
  }
  #education {

	.education_year, .education_place {
	  display: inline;
	}

  }

  .header_square {
	margin: -1px auto 30px;
	border: 1px solid black;
  }

  .wide {
	margin-top: 12px;
	width: 100%;
	border: none;
  }

  .skills_4_print {
	display: inline-block;
	width: 32%;
  }

  .flex-container, .flex-container-two {
	display: block;
  }

  #certificates, #education, #about_me, #experience, #skill, .border_border_bottom_padding {
	border-top: 1px solid black;
  }

  #footer {

	i {
	  display: none;
	}
  }

  .visible-print {
	display: inline;
  }
}